@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

*{
    font-size: 30px;
}

body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
}
button{
    width: 25%;
    color: rgb(255, 255, 255);
    background: none;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    text-shadow: #000000 1px 0 25px;
    transition: 0.7s;
    font-family: 'Sigmar', cursive;
}
button:hover{
    text-shadow: #1F42B1 25px 0 5px;
    transition: 0.5s;
    scale: (1, 0.4);
}
input{
    background-color: #ffffffd7;
    border-style: dotted;
    font-family: 'Sigmar', cursive;
}
.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-image: none;
}
.logo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    background-color: #000000b6;
    box-shadow: 11px 3px 14px #1F42B1;
    border-radius: 50%;
}
.button-box, .search-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0 30px 0;
}
.general-info{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    row-gap: 20px;
    background-color: rgba(133, 133, 133, 0.329);
    border-radius: 10%;
    justify-items: center;
}
.card{
    padding: 5px 5px 5px 0;
    display: grid;
    width: 90%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #121415;
    color: #ffffff;
    margin: 10px 0 10px 0;
    border-radius: 10%;
    font-style: normal;
    font-family: system-ui;
}
